# Title : Week 2 Tools for Data Science (peer graded assignment)

# Exercise 3
Introduction 
Hi this Jupyter notebook is created as part of my peer graded assignment in compliance with the excersise provided by coursera

# Exercise 4
List of Data science languages
* python
* R language
* SQL
* julia
* javascript

# Exercise 5
Data Science Libraries
* pandas
* numpy
* matplotlib
* seaborn
* keras
* tensorflow
* scikit

# Excercise 6 Data Science Tools Table
|Data Science Tools|
|---|
|Tensorflow|
|SAS|
|Excel|
|Apache Spark|

# Excercise 7 Arithmetic Expression Example
* 1+1 =2
* 2-2 =0
* 2*2 =4
* 2/2 =1

In [8]:
#Excercise 8
a=int(input("Enter the first no"))
b=int(input("Enter the first no"))
print("The result of sum of",a,"and",b,"is",a+b)
print("The result of product of",a,"and",b,"is",a*b)

Enter the first no 5
Enter the first no 15

The result of sum of 5 and 15 is 20
The result of product of 5 and 15 is 75

In [13]:
#Exercise 9 - Create a code cell to convert minutes to hours
minutes=int(input("Enter the minutes value"))
hour=minutes/60
print("result of Minutes to Hours is",hour)

Enter the minutes value 240

result of Minutes to Hours is 4.0

# Exercise 10 -Insert a markdown cell to list Objectives.
* Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
* Exercise 3 - Create a markdown cell for an introduction. (1 pt)* Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
* Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
* Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
* Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
* Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)
* Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
* Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
* Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
* Exercise 12 - Share your notebook through GitHub (3 pts)
* Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)
* The main grading criteria will be:

Is the notebook publicly viewable?

Are there, or do there appear to be, at least 8 Markdown cells and 2 code cells? 

Are the criteria for each cell fulfilled, as described in the "Guidelines for Submission"?

You will not be judged on:

Your English language, including spelling or grammatical mistakes.






 spelling or grammatical mistakes.

# Exercise 11
# Author : Akash Nair